.sign-form-link {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .sign-form-link:hover {
    text-decoration: underline;
  }