.jumbo-title {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 8px;
    padding-right: 100px;
  }
  
  @media (max-width: 950px) {
    .jumbo-title {
      font-size: 2.5rem;
      text-align: center;
      padding-right: initial;
    }
  }
  
  @media (max-width: 550px) {
    .jumbo-title {
      font-size: 1.5rem;
      text-align: center;
    }
  }