.wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 70px 56px;
  }

  @media (max-width: 740px) {
    .footer-wrapper {
      padding: 70px 30px;
    }
  }
  
  @media (max-width: 500px) {
    .footer-wrapper {
      padding: 70px 15px;
    }
  }