.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8672a5;
  padding-right: 1.5rem;

  span {
    font-size: 1.3rem;
    font-style: oblique 4deg;
  }

  .sign{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8672a5;
  font-size: 1.3rem;
  }
}