.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8672a5;

  span {
    font-size: 2.5rem;
    font-style: oblique 4deg;
  }
}